/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

:root {
  --text-font: Georgia, HKGrotesk, Inter, "Liberation Sans", Arial, Helvetica, sans-serif;
  --rounded-font: MPLUSRounded1c, Inter, "Liberation Sans", Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: var(--text-font);
  background: #fcfafc;
}


h1 {
  font-family: var(--rounded-font);
  font-weight: 700;
  margin-bottom: 0;
}

h2.subtitle {
  font-family: var(--text-font);
  font-weight: 300;
  margin-top: 0;
}

h3 {
  margin-top: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.block {
  display: block;
  width: 75%;
  padding: 1em;
  margin: 1rem 2rem;
}
@media screen and (max-width: 780px) {
  .block {
    width: calc(100% - 4rem);
    margin: 1rem;
  }
}@media screen and (max-width: 1024px) {
  .block {
    width: calc(100% - 4rem);
  }
}

.header {
}
.header hgroup {
  display: inline-block;
  background: #FFD83C;
  padding: 1em 2em;
  border-radius: 7px;
}
.header h1, div.header h2 {
  margin: 0;
  padding: 0;
}
.header h1 {
  font-size: 250%;
}

div.intro {
  display: flex;
}

@media screen and (max-width: 700px) {
  div.intro {
    display: block;
  }
}

div.links {
  display: flex;
}
@media screen and (max-width: 700px) {
  div.links {
    flex-direction: column;
    flex-wrap: wrap-reverse;
  }
}
div.links .griditem {
  flex: 1 1 0px;
  margin-bottom: 1rem;
  padding: 1em;
}
div.links .griditem:not(:last-child) {
  margin-right: 1rem;
}
@media screen and (max-width: 700px) {
  div.links .griditem:not(:last-child) {
    margin-right: 0;
  }
}
div.links .downloads {
  background: #EDE4F2;
  border-top: solid 4px #6C4081;
}
div.links .downloads h3 {
  color: #6C4081;
}
div.links .downloads a {
  color: #6C4081;
  font-weight: 700;
}
div.links .documentation {
  background: #FEDFD7;
  border-top: solid 4px #FC7753;
}
div.links .documentation h3 {
  color: #FC7753;
}
div.links .documentation a {
  color: #FC7753;
  font-weight: 700;
}
div.links .community {
  background: #F7DFED;
  border-top: solid 4px #D763A9;
}
div.links .community h3 {
  color: #D763A9;
}
div.links .community a {
  color: #D763A9;
  font-weight: 700;
}

.download-button {
  background: white;
  text-align: center;
  border-radius: 15px;
}
.download-button a {
  font-size: 200%;
}
.download-button p {
  margin: 0;
  padding: 0;
}
.download-button .date {
  color: #A676BC;
}
