body {
  font-family: HKGrotesk, Inter, "Liberation Sans", Arial, Helvetica, sans-serif;
  padding-left: 5em;
  width: 75%;
  background: #fcfafc;
}

h1 {
  font-family: MPLUSRounded1c, Inter, "Liberation Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}

h2.subtitle {
  font-family: HKGrotesk;
  font-weight: 300;
  margin-top: 0;
}

h3 {
  margin-top: 0;
}

div.intro {
  padding: 1em 0;
}

div.links {
  column-count: 3;
  column-gap: 1rem;
  width: 100%;
}
.griditem {
  /* Prevent a column from breaking into multiple columns */
  break-inside: avoid;
  page-break-inside: avoid-column;
  /* Misc */
  margin-bottom: 1rem;
}
